# Railway deployment config
# https://docs.railway.com/reference/config-as-code

[build]
builder = "dockerfile"
dockerfilePath = "./Dockerfile"

[deploy]
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
